#contenedor{
    font-family: 'Courier New', Courier, monospace;
    background-color:#05C7F2;
    margin-left: auto;
    margin-right: auto;
}
h1{
color: #F23838;
font-size: 20;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#tit1{
color:#F7941E ;
font-family: Georgia, 'Times New Roman', Times, serif;
}
#tit2{
color: #042940;
}

#tit4{
color:#9d1c8ac6;
}