#contenedor{
    font-family: 'Courier New', Courier, monospace;
    background-color: #05C7F2;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color:#F23838;
    font-size: 40px;
}

#tit1{
    color: #F7941E;
    font-size: 30px;
}
#tit2{
    color: #042940;
    font-size: 25px;
}
#tit3{
    color: #DBF227;
    font-size: 20px;
}
#tit4{
    color:#9d1c8ac6;
    font-size: 40px;
}
strong{
    color:#042940;
    font-size: 40px;
}
ul{
    color:
    #1B7F79;
    font-size: 40px;
}