#contenedor{
background-color: #05C7F2;
}
h3{
color: #F23838;
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
legend{
color:#F7941E ;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
color: #042940;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
}
option{
color: #9d1c8ac6;
font-size: 15px;
}
#text1{
color: #DBF227;
font-size: 15px;
}
    