#contenedor{
    background-color:#05C7F2;
}
h3{
    color: #F23838;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    color: #042940;
}
#n1{
    color: #F7941E;
}